.card-columns
  .card
    = image_tag 'youcune.jpg', alt: 'なかにしゆう', class: 'card-img-top'
    .card-body
      %h2.card-title なかにしゆう
      %p.card-text <a href="">合同会社ユーキューブ</a>代表。好きな言語は関西弁で好きなRubyのメソッドはObject#tapで好きなブキはN-ZAP89で好きな二次元キャラクターは<a href="https://yurie.sexy/">ゆりえちゃん</a>です。
      %p.card-text= link_to(icon('fab', 'wikipedia-w', '詳しいプロフィール'), 'youpedia.html', class: 'btn btn-primary btn-sm')
      %p.card-text
        = link_to(icon('fab', 'twitter', '@youcune'), 'https://twitter.com/youcune', class: 'btn btn-twitter btn-xs')
        = link_to(icon('fab', 'github-alt', '@youcune'), 'https://github.com/youcune', class: 'btn btn-github btn-xs')
  - articles.each_with_index do |article, i|
    = link_to article do
      .card
        - if article.data.image.present?
          = image_tag article.data.image, alt: '', class: 'card-img-top'
        .card-body
          %h2.card-title= article.title
          %p.card-text= article.summary(50)
          %p.meta.card-text
            %time= icon('fal', 'clock', article.date.strftime('%Y/%m/%d'))
            - if article.tags.any?
              = icon('fal', 'tag', article.tags.join(', '))
  .card
    .card-body
      %h2.card-title Tags
      %ul.list-inline.card-text
        - blog.tags.each do |tag, articles|
          %li= link_to "#{tag} (#{articles.size})", tag_path(tag)
  .card
    .card-body
      %h2.card-title Archives
      %ul.list-inline.card-text
        - blog.articles.group_by {|a| a.date.year }.each do |year, articles|
          %li= link_to "#{year} (#{articles.size})", blog_year_path(year)
