= wrap_layout :layout do
  %article
    %header
      %h1= current_page.title
      %p.meta
        %time= icon('fal', 'clock', current_page.date.strftime('%Y/%m/%d'))
        - if current_page.tags.any?
          - current_page.tags.each do |tag|
            = link_to(icon('fal', 'tag', tag), tag_path(tag), class: 'btn btn-primary btn-xs')
      - if current_page.data.image.present?
        = image_tag_with_size current_page.data.image, alt: ''
    = yield
  %aside
    = partial 'layouts/articles-cards', locals: { articles: blog.articles[0...5] }
