!!!
%html
  %head
    <!-- Global site tag (gtag.js) - Google Analytics -->
    = javascript_include_tag '//www.googletagmanager.com/gtag/js?id=UA-42388188-2', async: true
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-42388188-2');
    :javascript
      (function(d) {
        var config = {
          kitId: 'eix5qxy',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    %meta{charset: 'utf-8'}
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}
    = stylesheet_link_tag 'all'
    = javascript_include_tag '//pro.fontawesome.com/releases/v5.0.10/js/light.js', '//pro.fontawesome.com/releases/v5.0.10/js/brands.js', '//pro.fontawesome.com/releases/v5.0.10/js/fontawesome.js', defer: true, crossorigin: 'anonymous'
    %title
      #{current_article.title + '｜' unless current_article.nil?}youcune.com
    = feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed"
  %body
    .container
      %header
        %h1= link_to 'youcune.com', '/'
        %p <a href="https://youcube.jp/">合同会社ユーキューブ</a>代表。好きな言語は関西弁で好きなRubyのメソッドはObject#tapで好きなブキはN-ZAP89で好きな二次元キャラクターは<a href="https://yurie.sexy/">ゆりえちゃん</a>です。
      %main
        = yield
      %aside
        %h2 最新記事
        %ul
          - blog.articles[0...10].each do |article|
            %li= link_to("#{article.date.strftime('%Y/%m/%d')} #{article.title}", article)
        %h2 タグ
        %ul
          - blog.tags.each do |tag, articles|
            %li= link_to "#{tag} (#{articles.size})", tag_path(tag)
        %h2 アーカイブ
        %ul
          - blog.articles.group_by {|a| a.date.year }.each do |year, articles|
            %li= link_to "#{year} (#{articles.size})", blog_year_path(year)
      %footer
        = link_to(icon('fab', 'twitter', '@youcune', style: 'color: #55acee;'), 'https://twitter.com/youcune')
