!!!
%html
  %head
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-42388188-2', 'auto');
      ga('send', 'pageview');
    %meta{charset: 'utf-8'}
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}
    = partial 'layouts/all-sass'
    = javascript_include_tag '//pro.fontawesome.com/releases/v5.0.10/js/light.js', '//pro.fontawesome.com/releases/v5.0.10/js/brands.js', '//pro.fontawesome.com/releases/v5.0.10/js/fontawesome.js', defer: true, crossorigin: 'anonymous'
    %title
      #{current_article.title + '｜' unless current_article.nil?}youcune.com
    = feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed"
  %body
    .container
      %header
        %h1= link_to 'youcune.com', '/'
        %p <a href="https://youcube.jp/">合同会社ユーキューブ</a>代表。好きな言語は関西弁で好きなRubyのメソッドはObject#tapで好きなブキはN-ZAP89で好きな二次元キャラクターは<a href="https://yurie.sexy/">ゆりえちゃん</a>です。
      %main
        = yield
      %footer
        = link_to(icon('fab', 'twitter', '@youcune', style: 'color: #55acee;'), 'https://twitter.com/youcune')
