!!! 5
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'initial-scale=1,user-scalable=no'}
    %meta{property: 'og:title', content: 'youcune.com'}
    %meta{property: 'og:type', content: 'website'}
    %meta{property: 'og:url', content: 'https://youcune.com/'}
    %meta{property: 'og:locale', content: 'ja_JP'}
    %meta{property: 'og:image', content: image_url('images/apple-touch-icon.png')}
    %meta{property: 'og:description', content: '@youcune のオフィシャルサイトです'}
    %title なかにしゆう (@youcune)
    %link{rel: 'author', href: 'http://google.me/+YuNakanishi'}
    %link{rel: 'shortcut icon', type: 'image/png', href: image_path('favicon.png')}
    %link{rel: 'apple-touch-icon', type: 'image/png', href: image_path('favicon.png')}
    = javascript_include_tag 'portal'
    = stylesheet_link_tag 'portal'
  %body
    #wrapper
      .viewport
        = yield
      #panel
        %button#btn-prev.btn.btn-default= icon('arrow-right', '', class: 'fa-2x')
        %button#btn-next.btn.btn-default= icon('arrow-left', '', class: 'fa-2x')
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42388188-2', 'auto');
      ga('send', 'pageview');
