:ruby
  title = current_page.data.title.present? ? "#{current_page.data.title}｜youcune.com" : 'なかにしゆうオフィシャルサイト youcune.com'
  url = "https://youcune.com#{current_page.url}"
  image = "https://youcune.com#{image_path(current_page.data.image.present? ? current_page.data.image : 'youcune.jpg')}"
!!!
%html
  %head
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-42388188-2', 'auto');
      ga('send', 'pageview');
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    %meta{ name: 'author', content: 'https://google.me/+YuNakanishi' }
    %meta{ property: 'og:title', content: title }
    %meta{ property: 'og:type', content: 'website' }
    %meta{ property: 'og:url', content: url }
    %meta{ property: 'og:image', content: image }
    %meta{ name: 'twitter:card', content: 'summary_large_image' }
    %meta{ name: 'twitter:site', content: '@youcune' }
    %title= title
    = feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed"
    <script src="https://kit.fontawesome.com/26820ecab1.js" crossorigin="anonymous" defer></script>
    = partial 'layouts/all-sass'
  %body
    .container
      %header
        %h1= link_to 'youcune.com', '/'
      %main
        = yield
      %footer
        %p <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.ja"><img alt="クリエイティブ・コモンズ・ライセンス" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a>
