<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1">
  <title><%= blog_title(current_page.data.title) %></title>
  <%= javascript_include_tag 'jquery-2.0.3.min.js' %>
  <%= stylesheet_link_tag 'bootstrap.min.css', 'font-awesome.min.css', 'mono' %>
  <link rel="alternate" type="application/rss+xml" title="RSS" href="http://youcune.com/mono/feed.xml">
</head>
<body>
<header>
  <h1><img src="http://fakeimg.pl/1024x192/" alt="@youcune Monolog" class="img-responsive"></h1>
</header>
<div id="body" class="row">
  <div id="main-column" class="col-xs-12 col-md-8">
    <%= yield %>
  </div>
  <div id="sub-column" class="col-xs-12 col-md-4">
    <aside id="author">
      <h2>Author</h2>
      <img src="http://www.gravatar.com/avatar/bda36e025600f9e5a400dea0a1f08db1" width="80" height="80" class="pull-right">
      <ul class="vertical">
        <li><i class="fa fa-user"></i>なかにしゆう</li>
        <li><i class="fa fa-suitcase"></i>M3, Inc.</li>
        <li><i class="fa fa-globe"></i><a href="/?utm_source=mono&amp;utm_medium=author">http://youcune.com/</a></li>
        <li>
          <a href="http://twitter.com/youcune"><img src="/images/mini_social_icons/twitter.png" alt="twitter" width="22" height="22"></a>
          <a href="http://plus.google.com/+YuNakanishi"><img src="/images/mini_social_icons/googleplus.png" alt="Google+" width="22" height="22"></a>
          <a href="http://facebook.com/youcune"><img src="/images/mini_social_icons/facebook.png" alt="facebook" width="22" height="22"></a>
          <a href="http://github.com/youcune"><img src="/images/mini_social_icons/github_alt.png" alt="GitHub" width="22" height="22"></a>
          <a href="http://qiita.com/youcune?utm_source=mono&amp;utm_medium=author&amp;utm_content=social_icon"><img src="/images/mini_social_icons/qiita.png" alt="Qiita" width="22" height="22"></a>
          <a href="mailto:i@youcune.com"><img src="/images/mini_social_icons/mail.png" alt="Mail" width="22" height="22"></a>
        </li>
      </ul>
    </aside>
    <aside id="latest-posts">
      <h2>Latest Posts</h2>
      <ul>
        <% blog.articles[0...10].each do |article| %>
          <li><%= link_to article.title, article %> <span><%= format_date article.date %></span></li>
        <% end %>
      </ul>
    </aside>
    <aside id="tag-cloud">
      <h2>Tag Cloud</h2>
      <ul>
        <%
          max_count = (blog.tags.values.map(&:size) << 2).max
          blog.tags.each do |tag, articles|
        %>
          <li><%= link_to tag, tag_path(tag), nil, style: 'font-size: ' + (Rational(articles.size, max_count) * 200).to_i.to_s + '%;' %></li>
        <% end %>
      </ul>
    </aside>
  </div><!-- div#sub-column -->
</div><!-- div#body -->
<footer>
  <p class="pull-left">
    <a href="/?utm_source=mono&amp;utm_medium=footer" class="btn btn-default"><i class="fa fa-home"></i>Portal</a>
  </p>
  <p class="pull-right">
    <a href="/mono/feed.xml" class="btn btn-warning"><i class="fa fa-rss"></i>RSS</a>
  </p>
  <p class="text-center">&copy; youcune<br>営利目的の転載はお断りします</p>
</footer>
</body>
</html>
