%ul.vertical
  %li <i class="fa fa-user"></i> なかにしゆう
  %li <i class="fa fa-suitcase"></i> <a href="http://youcube.jp/">ユーキューブ</a>
  %li <i class="fa fa-globe"></i> <a href="/">https://youcune.com/</a>
  %li <i class="fa fa-envelope"></i> <a href="mailto:you@nakanishi.email">you@nakanishi.email</a>
  %li{ style: 'margin-top: 18px;' }
    = link_to(image_tag('mini_social_icons/twitter.png', alt: 'twitter', width: 20, height: 20), 'http://twitter.com/youcune')
    = link_to(image_tag('mini_social_icons/yo.png', alt: 'Yo', width: 20, height: 20), 'http://justyo.co/YOUCUNE')
    = link_to(image_tag('mini_social_icons/instagram.png', alt: 'instagram', width: 20, height: 20), 'http://instagram.com/youcune')
    = link_to(image_tag('mini_social_icons/foursquare.png', alt: 'foursquare', width: 20, height: 20), 'https://foursquare.com/youcune')
    = link_to(image_tag('mini_social_icons/line.png', alt: 'LINE', width: 20, height: 20), 'http://line.naver.jp/ti/p/CAlaQYcnvs')
    = link_to(image_tag('mini_social_icons/googleplus.png', alt: 'Google+', width: 20, height: 20), 'http://google.me/+YuNakanishi')
    = link_to(image_tag('mini_social_icons/facebook.png', alt: 'facebook', width: 20, height: 20), 'http://facebook.com/youcune')
    = link_to(image_tag('mini_social_icons/github_alt.png', alt: 'GitHub', width: 20, height: 20), 'http://github.com/youcune')
    = link_to(image_tag('mini_social_icons/qiita.png', alt: 'Qiita', width: 20, height: 20), 'http://qiita.com/youcune?utm_source=portal&utm_medium=portal&utm_content=social_icon')
    = link_to(image_tag('mini_social_icons/stackoverflow.png', alt: 'Stack Overflow', width: 20, height: 20), 'http://stackoverflow.com/users/3803505/youcune')
