---
pageable: true
---
%h1
  - case page_type
  - when 'day'
    = Date.new(year, month, day).strftime('%Y年%m月%d日の記事')
  - when 'month'
    = Date.new(year, month, 1).strftime('%Y年%m月の記事')
  - when 'year'
    #{year}年の記事
= partial 'layouts/articles-cards', locals: { articles: page_articles }
- if paginate && num_pages > 1
  %p
    Page #{page_number} of #{num_pages}
  - if prev_page
    %p= link_to 'Previous page', prev_page
- if paginate
  - if next_page
    %p= link_to 'Next page', next_page
