#items
  .item
    = image_tag '//www.gravatar.com/avatar/bda36e025600f9e5a400dea0a1f08db1?s=160', alt: '', width: 80, height: 80, class: 'pull-right img-circle'
    %h1 なかにしゆう
    %ul.vertical
      %li #{icon('twitter')} #{link_to '@youcune', 'https://twitter.com/youcune'}
      %li #{icon('envelope')} #{link_to 'you@nakanishi.email', 'mailto:you@nakanishi.email'}
      %li #{icon('suitcase')} #{link_to 'YouCube LLC.', 'http://youcube.jp/?utm_source=portal&utm_medium=portal'}
      %li= icon('star', 'Stack Overflow Engineer')
  .item
    %h2 Blog
    %pre
      :preserve
        <span class="code-keyword">if</span> theme.programming_knowledge?
          <span class="code-comment"># プログラミング知識はQiitaに</span>
          redirect_to <a href="http://qiita.com/youcune?utm_source=portal&amp;utm_medium=portal&amp;utm_content=card">Qiita</a>
        <span class="code-keyword">else</span>
          <span class="code-comment"># それ以外ははてなブログに書いています</span>
          redirect_to <a href="http://stack.overflow.engineer/?utm_source=portal&amp;utm_medium=portal&amp;utm_content=card">はてなブログ</a>
        <span class="code-keyword">end</span>
  .item
    %h2 Histories
    %table
      %tr
        %th 2006
        %td 関西学院大学商学部 入学
      %tr
        %th 2010
        %td 日本アイ・ビー・エム 入社
      %tr
        %th 2013
        %td エムスリー 入社
      %tr
        %th 2014
        %td ユーキューブ 設立
  .item#skills
    %h2 Skills
    %p
      %span Ruby
      %span Rails
      %span WordPress
      %br/
      %span AWS
      %span VPS
      %br/
      %span HTML5
      %span CSS3
      %span Bootstrap
      %span JavaScript
      %span jQuery
      %span vue
      %br/
      %span Web Marketing
      %span SEO
  .item#yurie
    %h2 ゆりえDays
    %p は、ゆりえと <a href="http://www.justyo.co/">Yo</a> でコミュニケーションできる新感覚サービスです（現在不安定）
    %p.action= link_to(icon('rocket', 'はじめる'), 'http://yurie.sexy/?utm_source=portal&utm_medium=portal&utm_content=card', class: 'btn btn-primary')
  .item
    %p.pull-right= image_tag('yasetter.png', alt: '', width: 128, height: 128)
    %h2 やせったー
    %p は、 SNS と連携できる体重・目標管理 Web サービスです。
    %p.action= link_to(icon('rocket', 'はじめる'), 'http://yasetter.com/?utm_source=portal&utm_medium=portal&utm_content=card', class: 'btn btn-primary')
  .item
    %h2 misc
    %ul.vertical
      %li= link_to 'XPath Tester（開発者向け）', 'http://xpath-tester.herokuapp.com/'
      %li= link_to 'なぜ俺bot', 'http://twitter.com/nazeore_bot'
      %li= link_to 'ILC bot（IBM社員向け）', 'http://twitter.com/ILC_bot'
