.flipsnap
  #dummy.item
  .item
    = image_tag '//www.gravatar.com/avatar/bda36e025600f9e5a400dea0a1f08db1?s=160', alt: '', width: 80, height: 80, class: 'pull-right'
    %h1 なかにしゆう
    %ul.vertical
      %li <i class="fa fa-suitcase"></i> <a href="http://youcube.jp/?utm_source=portal&amp;utm_medium=portal">YouCube LLC.</a>
      %li <i class="fa fa-user"></i> Stack Overflow Engineer
      %li <i class="fa fa-tag"></i> Rails, Linux, SEO
      %li <i class="fa fa-envelope"></i> <a href="mailto:you@nakanishi.email">you@nakanishi.email</a>
      %li{ style: 'margin-top: 18px;' }
        = link_to(image_tag('mini_social_icons/twitter.png', alt: 'twitter', width: 20, height: 20), 'http://twitter.com/youcune')
        = link_to(image_tag('mini_social_icons/hatena_blog.png', alt: 'はてなブログ', width: 20, height: 20), 'http://stack.overflow.engineer/?utm_source=portal&utm_medium=portal')
        = link_to(image_tag('mini_social_icons/yo.png', alt: 'Yo', width: 20, height: 20), 'http://justyo.co/YOUCUNE')
        = link_to(image_tag('mini_social_icons/instagram.png', alt: 'instagram', width: 20, height: 20), 'http://instagram.com/youcune')
        = link_to(image_tag('mini_social_icons/foursquare.png', alt: 'foursquare', width: 20, height: 20), 'https://foursquare.com/youcune')
        = link_to(image_tag('mini_social_icons/line.png', alt: 'LINE', width: 20, height: 20), 'http://line.naver.jp/ti/p/CAlaQYcnvs')
        = link_to(image_tag('mini_social_icons/googleplus.png', alt: 'Google+', width: 20, height: 20), 'http://google.me/+YuNakanishi')
        = link_to(image_tag('mini_social_icons/facebook.png', alt: 'facebook', width: 20, height: 20), 'http://facebook.com/youcune')
        = link_to(image_tag('mini_social_icons/github_alt.png', alt: 'GitHub', width: 20, height: 20), 'http://github.com/youcune')
        = link_to(image_tag('mini_social_icons/qiita.png', alt: 'Qiita', width: 20, height: 20), 'http://qiita.com/youcune?utm_source=portal&utm_medium=portal&utm_content=social_icon')
  .item
    %h2 Skills
    %p{ style: 'font-size: 16px; line-height: 1.5;' }
      %span.label.label-default Ruby
      %span.label.label-default Rails
      %span.label.label-default PHP
      %span.label.label-default WordPress
      %span.label.label-default Web Marketing
      %span.label.label-default SEO
      %span.label.label-default Mac
      %span.label.label-default Linux
      %span.label.label-default UI
      %span.label.label-default UX
      %span.label.label-default AWS
      %span.label.label-default PostgreSQL
      %span.label.label-default MySQL
      %span.label.label-default HTML5
      %span.label.label-default CSS3
      %span.label.label-default JavaScript
      %span.label.label-default jQuery
      %span.label.label-default Git
  .item
    %h2 Blog
    %pre
      :preserve
        <span class="code-keyword">if</span> theme.programming_knowledge?
          <span class="code-comment"># プログラミング知識はQiitaに</span>
          redirect_to <a href="http://qiita.com/youcune?utm_source=portal&amp;utm_medium=portal&amp;utm_content=card">Qiita</a>
        <span class="code-keyword">else</span>
          <span class="code-comment"># それ以外ははてなブログに書いています</span>
          redirect_to <a href="http://stack.overflow.engineer/?utm_source=portal&amp;utm_medium=portal&amp;utm_content=card">はてなブログ</a>
        <span class="code-keyword">end</span>
  .item#yurie
    %h2 ゆりえDays
    %p は、ゆりえと <a href="http://www.justyo.co/">Yo</a> でコミュニケーションできる新感覚サービスです。
    %p.text-center= link_to(icon('rocket', 'はじめる'), 'http://yurie.sexy/?utm_source=portal&utm_medium=portal&utm_content=card', class: 'btn btn-primary')
  .item
    %p.pull-right= image_tag('images/portal/yasetter.png', alt: '', width: 128, height: 128)
    %h2 やせったー
    %p は、 SNS と連携できる体重・目標管理 Web サービスです。
    %p.text-center= link_to(icon('rocket', 'はじめる'), 'http://yasetter.com/?utm_source=portal&utm_medium=portal&utm_content=card', class: 'btn btn-primary')
  .item
    %h2 misc
    %ul.vertical
      %li= link_to 'OnePad', 'http://onepad.anone.me/?utm_source=portal&utm_medium=portal&utm_content=card'
      %li
        = link_to 'XPath Tester', 'http://xpath-tester.herokuapp.com/'
        %span.label.label-default 開発者向け
      %li= link_to 'なぜ俺bot', 'http://twitter.com/nazeore_bot'
      %li
        = link_to 'ILC bot', 'http://twitter.com/ILC_bot'
        %span.label.label-default IBM社員向け
